.container {
    border-top: 2px solid black;
}

.states {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.state {
    display: inline-block;
    border: 0px solid black;
    border-top-width: 2px;
    transition: box-shadow 0.3s ease-in-out;
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}

.state:first-child {
    border-top-width: 0px;
}

.state.selected {
    box-shadow: 0 0 0em #888;
}

@media screen and (min-width: 800px) {
    .states {
        flex-flow: row nowrap;
    }

    .state {
        margin: 1em;
        padding: 1em;
        border-width: 2px !important;
    }

    .state ul {
        border: 2px solid black;
    }

    .state.selected {
        box-shadow: 0 0 1em black;
    }
}

.state .title {
    font-weight: bold;
    margin-right: 1em;
}

span.now-playing {
    font-style: italic;
}

.state ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.state ul li input[type="checkbox"]:checked + label {
    background: black;
    color: white;
}

.state li label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    */
}

.state.selected ul li label.now-playing-motion {
    animation: now-playing-pulse 2s infinite;
}

@keyframes now-playing-pulse {
    0% { background: black; color: white; }
    33% { background: #ccc; color: #000; }
    100% { background: black; color: white; }
}

span.led {
    display: inline-block;
    background-color: red;
    opacity: 0;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin-left: .25em;
}

span.led.pulsing {
    animation-name: pulse;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: 1;
}

@keyframes pulse {
    0% { opacity: 1; transform: scale(0, 0); }
    100% { opacity: 0; transform: scale(2, 2); }
}