@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/static/font/material-icons.woff2) format("woff2");
}

:host {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  height: 150px;
  box-sizing: border-box;
}

canvas,
svg {
  cursor: move;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

svg circle {
  cursor: pointer;
}

.graphDiv {
  position: relative;
  /* width: inherit; */
}

div.toolbar {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

div.toolbar:empty {
  visibility: hidden;
}

.btn-black {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
}

div.toolbar > * {
  border-right: 2px solid black;
}

div.toolbar > *:first-child {
  border-left: 2px solid black;
}

.space {
  display: inline-block;
  width: 18px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/** Button effects */

div.toolbar button:active {
  background: black;
  color: white;
}

.material-icons[checked] {
  background: black;
  color: white;
}

button.material-icons:disabled {
  color: silver;
}

.main {
  width: 100%;
}

h2 {
  padding: 0;
  margin: 0;
}

div.spline-list-entry:hover {
  cursor: pointer;
}

div.spline-list-entry[checked] {
  background: black;
  color: white;
}

div.spline-list-entry {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

span.spline-checkbox{
  width: 24px;
  height: 24px;
}

/* Media queries here */
@media screen and (max-width: 800px) {
  :host {
    flex-direction: column;
  }
}

/** Label and select */

div.toolbar select {
  border: none;
  font-size: 18px; /* Preferred icon size */
}