.container { border-top: 2px solid black; }

.states {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.state {
    display: inline-block;
    border: 2px solid black;
    border-width: 2px 0 0px 0;
    transition: box-shadow 0.3s ease-in-out;
}

.state.selected { box-shadow: 0 0 1em #888; }

.state span { font-weight: bold; }

.state ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.state li label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.state li input[type="checkbox"]:checked + label {
    background: black;
    color: white;
}


@media screen and (min-width: 800px) {
    .states {
        flex-flow: row nowrap;
    }

    .state {
        margin: 1em;
        padding: 1em;
        border-width: 2px;
    }

    .state ul {
        border: 2px solid black;
    }

    .state.selected { box-shadow: 0 0 1em black; }
}

.now-playing { font-family: "Courier New", Courier, monospace; }
