@font-face {
    font-family: "OpenSans-Bold";
    src: url("static/font/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("static/font/OpenSans-BoldItalic.ttf");
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("static/font/OpenSans-ExtraBold.ttf");
}
@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("static/font/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url("static/font/OpenSans-Italic.ttf");
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("static/font/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("static/font/OpenSans-LightItalic.ttf");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("static/font/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("static/font/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url("static/font/OpenSans-SemiBoldItalic.ttf");
}
