@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local("MaterialIcons-Regular"), url("/static/font/material-icons.woff2") format("woff2");
}

.material-icons { font-family: "Material Icons"; }

:host {
    display: block;
    border: 2px solid black;
}
