body {
    font-family: "Open Sans", Verdana, Helvetica, Sans-Serif;
    line-height: normal;
}

#wrapper {
    margin: 0 0.5em;
}

nav {
    align-items: stretch;
    background: white;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    justify-content: space-between;
    margin-top: 1em;
    position: sticky;
    text-transform: uppercase;
    top: 0;
    z-index: 666;
    font-weight: 600;
}

nav > * {
    margin: 1em;
}

nav > *:first-child {
    margin-left: 0.35em;
}

nav > *:last-child {
    margin-right: 0.35em;
}

nav > span.filler {
    flex-grow: 1;
}

nav a:hover {
    background-color: black;
    color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

hr {
    border: none;
    border-bottom: 2px solid black;
    height: 0;
}

nav a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}