.container {
    display: flex;
    flex-flow: column nowrap;
}

.container > * {
    border-top: 2px solid black;
}

#motion-list {
    flex-grow: 1;
}

#graph {
    flex-grow: 4;
}

@media screen and (min-width: 800px) {
    .container {
        flex-direction: row;
    }

    #motion-list {
        border-right: 2px solid black;
    }
    #motion-list[folded] {
        background-color: red;
        border-right: none;
        width: 0;
        max-width: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px) {
    #motion-list[folded] {
        background: green;
        height: 0;
        max-height: 0;
        overflow: hidden;
        border-top: none;
        border-bottom: none;
    }
}

#graph {
    position: relative;
    flex-basis: 60vh;
    min-height: 60vh;
}

#graph canvas,
#graph svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#graph svg {
    cursor: move;
}

#graph svg circle {
    cursor: pointer;
}