.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#graph .annotation {
    position: absolute;
    visibility: hidden;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .666);
    background-color: rgba(255, 255, 255, .666);
}

#motion-list hr {
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 4px;
}

#motion-list > div:first-child {
    max-height: 60vh;
    overflow: scroll;
}

#motion-list div.spline-list-entry:hover {
    cursor: pointer;
}

#motion-list div.spline-list-entry span+span:hover {
    cursor: text;
}

#motion-list div.spline-list-entry span+span {
    caret-color: silver;
}

#motion-list div.spline-list-entry[checked] {
    background: black;
    color: white;
}

#motion-list div.spline-list-entry {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 10px;
}

#motion-list .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#motion-list span.spline-checkbox {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    flex-shrink: 0;
}

#motion-list #spline-list-toolbar {
    margin-top: 5px;
    margin-bottom: 20px;
}

#motion-list #spline-list-toolbar button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#motion-list .noselect {
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#motion-list .nonvalid {
    color: red;
    border: 2px solid red;
}

div.toolbar button.record[checked] {
    background-color: white;
    color: black;
    animation: pulsating-red 2s infinite;
}

@keyframes pulsating-red {
    0% { background-color: white; }
    40% { background-color: red; }
    100% { background-color: white; }
}