div.toolbar {
    display: flex;
    flex-flow: row wrap;
    border-bottom: none;
    border-left: none;
    border-width: 0 2px 0 0;
    /*z-index: 666;*/
    margin-bottom: -2px;
    align-items: center;
}

div.toolbar button,
div.toolbar > select,
div.toolbar > div
{
    height: 32px;
    margin: -2px 0 0 -2px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    background: white;
}

div.toolbar button {
    font-size: 24px;
    width: 48px;
}

div.toolbar button:active {
    background: black;
    color: white;
}

div.toolbar button[checked] {
    background: black;
    color: white;
}

div.toolbar button:disabled {
    color: silver;
}

div.toolbar .space {
    display: inline-block;
    width: 18px;
    height: 28px;  /* TODO: WHY?! */
}

div.toolbar select {
    font-size: 20px;
    border-radius: 0;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 1.2em;
    padding-left: 0.4em;
}