{% extends "base.html" %}

{% block head %}
    <!-- Include alertifyjs -->
    <script src="static/libs/alertifyjs/1.13.1/alertify.min.js"></script>
    <link rel="stylesheet" href="static/libs/alertifyjs/1.13.1/css/alertify.min.css" />
    <link rel="stylesheet" href="static/libs/alertifyjs/1.13.1/css/themes/default.min.css" />

    <!-- Include third party libs -->
    <script src="static/libs/d3/7.0.0/d3.min.js"></script>
    <script src="static/libs/elk/0.7.1/elk.bundled.js"></script>

    <!-- Include being web components and styling -->
    <link rel="stylesheet" type="text/css" href="static/css/open_sans.css">
    <link rel="stylesheet" type="text/css" href="static/css/material_icons.css">
    <link rel="stylesheet" type="text/css" href="static/css/being.css">
    <script type="module" src="static/control_panel/control_panel.js"></script>
    <script type="module" src="static/behavior/behavior.js"></script>
    <script type="module" src="static/motion_editor/motion_editor.js"></script>
{% endblock %}

{% block body%}
    <nav>
        <span>Being</span>
        <span class="filler"></span>
        <a href="#control-panel-anchor">Control Panel</a>
        <a href="#behavior-anchor">Behavior</a>
        <a href="#editor-anchor">Motion Editor</a>
    </nav>
    <hr>

    <a class="anchor" id="control-panel-anchor"></a>
    <h1>Control Panel</h1>
    <being-control-panel></being-control-panel>

    {% if behaviors %}
        <a class="anchor" id="behavior-anchor"></a>
        <h1>Behavior</h1>
        {% for behavior in behaviors %}
            <being-behavior behaviorId={{behavior.id}}></being-behavior>
        {% endfor %}
    {% endif %}

    <a class="anchor" id="editor-anchor"></a>
    <h1>Motion Editor</h1>
    <being-editor id="editor"></being-editor>

    <script type="module">
        import {WS_ADDRESS} from "/static/js/config.js";
        import {receive_from_websocket} from "/static/js/web_socket.js";
        import {defaultdict} from "/static/js/utils.js";
        import {NotificationCenter} from "/static/js/notification_center.js";

        const notificationCenter = new NotificationCenter(alertify);

        // Wire up web socket to the different widgets.
        const callbacks = defaultdict(Array);
        callbacks["motor-update"].push(msg => notificationCenter.new_motor_message(msg));
        callbacks["motor-updates"].push(msg => notificationCenter.new_motor_message(msg));

        for (let controlPanel of document.getElementsByTagName("being-control-panel")) {
            controlPanel.set_notification_center(notificationCenter);
            callbacks["motor-update"].push(msg => controlPanel.new_motor_message(msg));
            callbacks["motor-updates"].push(msg => controlPanel.new_motor_message(msg));
            callbacks["log"].push(msg => controlPanel.new_log_message(msg));
        }

        for (let behavior of document.getElementsByTagName("being-behavior")) {
            callbacks["behavior-update"].push(msg => behavior.new_behavior_message(msg));
            callbacks["motions"].push(msg => behavior.content_message(msg));
            callbacks["sensor-message"].push(() => behavior.pulse_led());
        }

        for (let editor of document.getElementsByTagName("being-editor")) {
            callbacks["output-values"].push(msg => editor.new_data(msg));
            callbacks["behavior-update"].push(msg => editor.new_behavior_message(msg));
        }

        receive_from_websocket(WS_ADDRESS, callbacks, notificationCenter);
    </script>
{% endblock %}

{% block footer %}
<footer style="text-align: center;">
    PATHOS Being {{version}}. Escaped from <a href="http://rauc.ethz.ch">RAUC</a> lab © {{year}}
</footer>
{% endblock %}
