@font-face {
  font-family: open-sans;
  src: url(font/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(font/material-icons.woff2) format("woff2");
}

body {
  font-family: "Open-Sans", Verdana, Helvetica, Sans-Serif;
  margin: 12px;
  line-height: normal;
}

/** Fluid typography from https://css-tricks.com/snippets/css/fluid-typography/ */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

nav {
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  width: 100%;
}

nav a:hover {
  background-color: whitesmoke;
}

nav a:active {
  font-weight: bold;
}

nav a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav li {
  display: inline;
  padding: 0 20px 0 20px;
}

section {
  margin: 25px;
  display: inline;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
